@charset "utf-8";


/* Font style */

@font-face {
  font-family: Cyber;
  src: url("../fonts/Blender-Pro-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-ThinItalic.woff") format("woff");
}


/* Skip link style */

#skip-to-content-link {
  background: #fff;
  color: #000;
  font-weight: bold;
  left: 1%;
  padding: 10px;
  position: absolute;
  transform: translateY(-200%);
}

#skip-to-content-link:focus {
  transform: translateY(0%);
}


/* Banner Style */

header {
  font-family: 'Exo 2', Cyber, sans-serif;
  text-align: center;
  max-width: 807px;
  margin: auto;
  margin-top: 30px;
  line-height: 2.6em;
}


/* Header paragrah style */

header p {
  font: normal 28px Cyber, sans-serif;
  margin-top: 15px;
  color: #000;
}


/* Header caption style */

#banner-caption {
  transition: transform 0.55s; /* shrink slowler */
  will-change: scale; /* let GPU handle caption animation smoothly */
}

#banner-caption:hover {
  transform: scale(1.03);
  transition: transform 0.25s; /* grow faster */
}


/* Text style and Border style */

.banner {
  /* Text style */
  font-size: 5rem;
  color: #fff; 
  animation: pulsate 1.5s infinite alternate;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #00DEA4,
  0 0 82px #00DEA4,
  0 0 92px #00DEA4,
  0 0 102px #00DEA4,
  0 0 151px #00DEA4;
 
  /* border style */
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 
  0 0 0.4px #fff,
  0 0 1px #fff,
  0 0 1.7px #fff,
  0 0 3.4px #08f,
  0 0 7.2px #08f,
  0 0 8px #08f,
  0 0 9.3px #08f,
  inset 0 0 14px #08f;
}


/* Banner Animaion */
/* Animation effect references: https://css-tricks.com/how-to-create-neon-text-with-css/ */
@keyframes pulsate {

  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #00DEA4,
      0 0 80px #00DEA4,
      0 0 90px #00DEA4,
      0 0 100px #00DEA4,
      0 0 150px #00DEA4;
  }

  0% {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #00DEA4,
      0 0 45px #00DEA4,
      0 0 55px #00DEA4,
      0 0 70px #00DEA4,
      0 0 80px #00DEA4;
  }
}