@charset "utf-8";

/* Dark mode theme */

@media (prefers-color-scheme: dark) {
    body,
    main {
        background-color: #374B43;
    }

    header div p {
        color: #eee;
    }

    .nav-buttons {
        background-color: #A6B9AC;
        color: #000;
    }

    footer {
        background-color: rgb(51, 51, 51);
        color: #eee;
    }

    footer>div>hr {
        border: 0.1px solid rgb(171, 145, 145);
        width: 77px;
        margin: 5px 0px 5px 0px;
    }

    footer a {
        color: #eee;
        text-decoration: none;
    }
}