@charset "utf-8";

/* font type for footer */

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

/* 
Setup for sticky footer
Reference: https://css-tricks.com/couple-takes-sticky-footer/  
*/
body {
    display: flex;
    flex-direction: column;
 }

 main {
    flex: 1 0 auto;
 }

 /* Contact Footer Styles */
footer {
    font-family: Cyber, sans-serif;
    color: #eee;
    background-color: #374B43;
    display: flex;
    width: 100%;
    padding: 1.5rem;
}

 footer {
    flex-shrink: 0;
    /* place all elems evenly */
    justify-content: space-evenly;
 }

 .box {
    display: flex;
    /* vertical and horizontal center the footer elems */
    align-items: center;
    justify-content: center; 
    column-gap: 20px;
 }

/* Footer's <a> tag styles */
footer a {
    text-decoration: none;
    color: #eee
}

footer a:hover {
    color: rgb(72, 248, 148);
    text-decoration: underline;
}

footer a {
    transition: color 0.1s ease-in;
}


/* Footer's <hr> tag styles */
footer div hr {
    width: 77px;
    margin: 5px 0px 5px 0px;
}

div.box:nth-child(2) > div:nth-child(2) > hr:nth-child(2) {
    width: 143px; /* to make hr in sources part longer */
}

/* left footer and right footer styles */
.left-footer > p {
    font-size: 2em;
}

.right-footer {
    font-size: 1em;
}

.search-left > p {
    color:rgb(72, 248, 148);
}

/* Styles for input box */
#search-input,
#search-button {
    border-radius: 9px;
    font-family: Cyber, serif;
    font-size: 1.5rem;
    border: 4px solid #000;
    background-color: rgb(217, 215, 215);
}


#search-input {
    width: 220px;
}

/* Styles for search button */
#search-button {
    padding: 10px 20px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: black;
}

#search-button:hover {
    background-color: #4CAF50;
    color: white;
}