@charset "utf-8";

/* Desktop Styles: between 801px and 1292px */
@media only screen and (min-width: 801px) and (max-width: 1292px) {

    html,
    body {
        min-width: 800px;
    }

    /* Banner layout */
    header .banner {
        font-size: 4.3rem;
        width: 750px;
    }

    /* Nav layout */
    nav {
        width: 100%;
        margin: auto;
    }

    nav #legs-button::after {
        content: "";
        clear: both;
        display: table;
    }

    /* add line break every two videos */
    .line-break:after {
        content: '\A';
        white-space: pre;
    }
}

/* Mobile Styles: <= 800px */
@media only screen and (max-width: 800px) {

    /* Html and body layouts for mobile */
    html,
    body,
    footer {
        min-width: 375px;
        display: block;
    }

    body {
        padding-top: 10px;
    }

    header, 
    main nav .nav-buttons, 
    main #training-videos {
        max-width: 455px;
    }

    /* Banner layout */
    header {
        width: 95%;
        margin: 1rem auto auto;
    }

    header .banner {
        font-size: 2.2rem;
    }

    /* Banner caption layout */
    #banner-caption>p {
        font-size: 1.2rem;
    }

    /* navigation layout */
    main nav .nav-buttons {
        width: 90%;
    }

    main nav #nav-container {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    main #training-videos {
        padding-bottom: 1rem;
    }

    /* videos layout */
    .videos {
        margin: 1rem;
        width: 90%;
        height: auto;
    }

    .videos:hover {     /* no need to transform when on mobile mode */
        transition: none !important; 
        transform: none !important;
    }

    main video {
        width: 100%;
    }

    /* iFrame */
    iframe {
        height: 166px;
    }

    /* Footer layout */
    .left-footer,
    .right-footer {
        width: 90%;
        margin: auto;
        text-align: left;
    }

    .left-footer {
        padding-top: 1.2rem;
        padding-bottom: 0;
    }

    .right-footer {
        padding-top: 5px;
    }

    /* the right-most footer style */
    #footer-link>div:nth-child(5) {
        padding-bottom: 1.2rem;
        text-align: left;
        width: 90%;
        margin-left: auto;
    }
}