#container {
    width: 100%;
    overflow: hidden;
    background: transparent;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

#container > #photobanner p {
    font-family: sans-serif;
    display: inline-block;
    width: 350px;
    font-size: 2rem;
}

/*photobanner*/
#photobanner {
    width: 8640px;
    background: #FFBF00;
    color: #000000;
    padding: 13px;
}

#photobanner p:hover {
    cursor: pointer;
}

/*keyframe animations*/
#first {
    animation: bannermove 50s linear infinite;
}

@keyframes bannermove {
    0% { margin-left: 0px; }
    100% { margin-left: -5746px; }
}